@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #262626;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(25deg, #f04e33, #c52035);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(25deg, #c52035, #f04e33);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #202020;
    color: white;
    margin: 0 0 100px;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.fire {
    background: -webkit-linear-gradient(25deg, #f04e33, #c52035);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

#navbar {
    background: linear-gradient(25deg, #f04e33, #c52035);
}

#logo {
    font-size: 34px;
}

#logo-img {
    height: 50px;
    width: 50px;
    padding: 0px;
    margin: 0px;
}

.nav-link {
    color: white !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

#invite-btn {
    background: #151515;
    border-radius: 10px;
    opacity: 90%;
    text-align: center;
}

#content-section {
    padding: 15px;
    height: 100%;
}

#categories {
    background: #151515;
    padding: 15px;
    border-radius: 10px;
}

#categories-list {
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    #categories-list {
        columns: 2;
    }
}

.category-note {
    color: #aaa;
}

#categories-list li {
    width: 100%;
    padding: 5px;
    text-align: center;
    background: #181818;
    display: inline-block;
    margin-bottom: 3px;
    margin-top: 3px;
    border-radius: 5px;
}

#categories-list li:hover {
    cursor: pointer;
    background: linear-gradient(25deg, #f04e33, #c52035);
}

table {
    table-layout: fixed;
}

.table {
    color: white;
    margin-bottom: 0;
}

.table-head {
    background: #151515;
}

.table-body tr:nth-child(even) {
    background: #171717;
}

.table-body tr:nth-child(odd) {
    background: #191919;
}

.table thead th {
    border: none;
}

.table td {
    border: none;
}

.c-active {
    background: linear-gradient(25deg, #f04e33, #c52035) !important;
}

.name {
    background: -webkit-linear-gradient(25deg, #f04e33, #c52035);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.desc {
    color: #fff;
}

.usage {
    color: #aaa;
}

.aliases {
    color: #aaa;
}

.stats-prefix {
    background: -webkit-linear-gradient(25deg, #f04e33, #c52035);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.bot-info-box {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #151515;
    margin: 10px;
    padding: 25px;
    border-radius: 10px;
}

.bot-info-box span {
    background: -webkit-linear-gradient(25deg, #f04e33, #c52035);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 18pt;
}

.about-text {
    text-align: center;
    background-color: #151515;
    padding: 15px;
    border-radius: 10px;
}

.about-text strong {
    background: -webkit-linear-gradient(25deg, #f04e33, #c52035);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    position: absolute;
    background-color: #151515;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.server-card {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    margin: 5px;
    background: #151515;
    width: 257px;
    min-height: 308px !important;
    border-radius: 15px;
    overflow: hidden;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    transition: all .5s;
}

.server-card:hover {
    transform: translateY(-1px);
    -webkit-box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.7);
}

.card-3DjzTQ {
    background: #151515;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 256px;
    min-height: 304px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    -webkit-transition: background 0.2s ease-out, -webkit-box-shadow 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: background 0.2s ease-out, -webkit-box-shadow 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: box-shadow 0.2s ease-out, transform 0.2s ease-out, background 0.2s ease-out;
    transition: box-shadow 0.2s ease-out, transform 0.2s ease-out, background 0.2s ease-out,
        -webkit-box-shadow 0.2s ease-out, -webkit-transform 0.2s ease-out;
    cursor: pointer;
}

.server-header {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 144px;
    flex: 0 0 144px;
    position: relative;
    display: block;
    overflow: hidden;
}

.server-splash {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    opacity: 0.65;
}

.server-icon {
    position: absolute;
    bottom: 16px;
    left: 16px;
    height: 50px;
    width: 50px;
    border-radius: 15px;
}

.server-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    padding: 16px;
    height: 100%;
}

.server-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.server-name {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
}


.server-description {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 8px 0 16px;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.server-member-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    justify-self: flex-end;

}

.server-member-count {
    font-size: 0.75rem;
    line-height: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    margin-right: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.server-online-dot {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: #43b581;
}

.server-offline-dot {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: #b9bbbe;
}

.page-item.active .page-link {
    background: -webkit-linear-gradient(25deg, #f04e33, #c52035);
    border-color: #c52035;
}

.page-link {
    color: white;
    background-color: #171717;
    border: 1px solid #171717;
}

.page-item.disabled .page-link {
    color: #aaa;
    background-color: #171717;
    border-color: #171717;
}

.page-link:hover {
    color: #fff;
    background: -webkit-linear-gradient(25deg, #f04e33, #c52035);
    border-color: #f04e33;
}
a:hover {
    color: #fff;
    text-decoration: none;
}

.form-control {
    color: #fff;
    background-color: #171717;
    border: 1px solid #171717;
}

.form-control:focus {
    color: #fff;
    background-color: #171717;
    border-color: #f04e33;
    box-shadow: none;
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: none;
}



/* COVID-19 BANNER */
.container-RHl2Ju {
  background-color: #171717;
  border-radius: 8px;
  padding: 16px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.container-RHl2Ju,
.content-2CqL_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.button-2RuHlm {
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.text-2IH2ZS {
  margin: 0 16px
}

.avatar-JMNKnp {
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.icon-3o6xvg {
  position: relative;
  background-clip: padding-box;
  background-color: none;
  background-position: 50%;
  background-size: 100% 100%
}

.iconSizeMedium-2OqPjI {
  width: 40px;
  height: 40px
}

.iconInactive-98JN5i {
  border-radius: 50%
}

.wrapper-1sSZUt {
  margin: 0
}

.base-1x0h_U {
  font-weight: 600;
  color: #fff
}

.size16-1P40sf {
  font-size: 16px;
  line-height: 20px
}

.size14-e6ZScH {
  font-size: 14px;
  line-height: 18px
}

.colorHeaderSecondary-3Sp3Ft {
  color: #b9bbbe
}

.anchor-3Z-8Bb {
  color: #00b0f4;
  text-decoration: none
}

.anchorUnderlineOnHover-2ESHQB:hover {
  text-decoration: underline
}

.button-2RuHlm {
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.button-38aScr {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
  color: #fff;
  background-color: #101010
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  background-color: #151515
}

.lookFilled-1Gx00P.colorBrand-3pXr91:active {
  background-color: #151515
}

.sizeMedium-1AC_Sl {
  width: 96px;
  height: 38px;
  min-width: 96px;
  min-height: 38px
}

.grow-q77ONN {
  width: auto
}

.lookFilled-1Gx00P .contents-18-Yxp {
  margin: 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}
